body {
  margin: 0;
}

.noScroll {
  overflow: hidden;
  position: fixed;
}

.body-wrapper {
  margin: 15px 10px 0 10px;
}

#modal-btn {
  margin-top: 50px;
  margin-left: 10px;
}

.body-can-scroll {
  height: 200px;
  overflow: auto;
}

#progress-bar-entity {
  display: none;
  width: 300px;
  height: 500px;
  border: 1px solid grey;
  background-color: white;
  position: fixed;
  top: 0px;
}

.progress-bar-ul {
  margin: 10px auto;
  overflow: auto;
  height: 400px;
}

#filterOptionsContainer {
  /*overflow-y: scroll;*/
  -webkit-overflow-scrolling: touch;
}

